body {
	background:-webkit-linear-gradient(180deg,#00CCCC, #CCFFFF);
	margin: 0 auto;
	font-style: Papyrus;
}

.logo {
	 
	font-size: 50px;
	text-align: center;
	background-color: #E8E8E8;
	background-size: 20px;
	border-spacing: 20px;
}

.nav {
	text-align: center;
	font-family: Papyrus;
	font-size: 25px;
	word-spacing: 10px;
	line-height: 15px; 
	letter-spacing: 0px; 
}

.column-left {
	float: left;
	width: 30%;
}

.column-right {
	float: right;
	width: 30%;
}

.column-center {
	display: inline-block;
}

button {
		width: 60px;
		height: 60px;
		border: 3px solid #FF00FF;
		border-radius: 30%;
		display: inline-block;
		font-size: 15px;
}