body {
	background:-webkit-linear-gradient(180deg,#00CCCC, #CCFFFF);
	margin: 0 auto;
	font-style: Papyrus;
}

.logo {
	 
	font-size: 50px;
	text-align: center;
	background-color: #E8E8E8;
	background-size: 20px;
	border-spacing: 20px;
}
video {
	float: right;
}
.nav {
	text-align: center;
	font-family: Papyrus;
	font-size: 25px;
	word-spacing: 10px;
	line-height: 15px; 
	letter-spacing: 0px; 
}

