* {
	margin: 0 auto; 
	font-size: Arial;	
}

html, body {
    top:0;
    bottom:0;
    left:0;
    right:0;
}

a {
	text-decoration: none;
}

nav {
	font-size: 20px;
	margin: 10px;
	margin-left: 5%;
	padding-left: 20px;
	padding-bottom: 5%;
	text-indent: 10%; 
	text-decoration: none;
	font-family: helvetica;
	background-color: white;
	word-spacing: 5px;
	letter-spacing: 1px;
}

.chi-logo {
	padding-left: 30%;
	background-color:  ;
}

.container-images {
	padding: 5%;
	background-color: #00bdd5;
	height: 2000px;
}

.photo-1, .photo-3, .photo-5, .photo-7, .photo-9, .photo-11, .photo-13 {
	float: left;
	margin-left: 150px;
	padding-bottom: 20px;
}

.photo-2, .photo-4, .photo-6, .photo-8, .photo-10, .photo-12 {
	float: right;
	margin-right: 150px;
	padding-bottom: 20px;
}

span {
	float: right;
	margin-right: 5%;
	border-top: 20%;
	margin-top: 2%;
	background-color;
	padding: 20px;
}



.footer {
	text-indent: bottom;
	text-align: center;
	background-height: 50%;
	width: 80%;
	height: 25%;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #7fc143;
	font-family: arial;
	float: bottom;
	border-radius: 30%;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-style: outset;
}


 
