* {
	font-family: 'Dosis', sans-serif;
	background-color: #AFEEEE;
}
title {
	font: 30px;
	font-family: sans-serif;
}
.square-description {
	background: #E0FFFF;
	font: times;
	font-size: 20px;
	float: right;
	width: 25%;
	height: 60%;
}

.nav {
	float:right;
	font-size: 25px;
	letter-spacing: uppercase;
}

p {
	float: left;
	font-size: 15px;
}

h1 { 
font-family: arial;
}

img {
	width: 295px;
	height: 150px; 	
}


a {
	display: inline;
	padding: 10px;
}

.column-left {
	width: 30%;
	float: left;
}
.column-right {
	width:30%;
	display: inline-block;
}
.column-center {
	width: 30%;
	float: center;
}

p {
	float: center;
	text-align: bottom;
}

.square {
background-size: 50px;
font: 30px;
color: #CCFFFF;
width: 30%;
}

.section2, .section3, .section4 {
	padding-bottom: 10px;
}
